*.class
*.log
*.db

*.log.gz

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IDE specific
.idea
.idea_modules

# Project
logs/
storage/
etc/README.txt
etc/application.conf.override
etc/live-config.conf
var/

#OSX
.DS_Store
.java-version
